<div class="quiz-container">
  @if (quizResult == null) {
    <div class="quiz-content">
      <mat-card class="quiz-header">
        <mat-card-header>
          <mat-card-title>{{ quizViewStore.currentQuestion().topic }}</mat-card-title>
          <mat-card-subtitle>Вопрос {{ quizViewStore.currentQuestionIndex() + 1 }}
            из {{ quizViewStore.questions().length }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-progress-bar mode="determinate" [value]="quizViewStore.progress"></mat-progress-bar>
      </mat-card>
      <mat-card class="question-card">
        <mat-card-content>
          <h2 class="question-text">{{ quizViewStore.currentQuestion().question }}</h2>
          <mat-chip-set aria-label="Уровень сложности" class="level-chip">
            <mat-chip [highlighted]="quizViewStore.currentQuestion().level === 0">
              {{ quizViewStore.currentQuestion().level === 0 ? 'Junior' : quizViewStore.currentQuestion().level === 1 ? 'Middle' : 'Senior' }}
            </mat-chip>
          </mat-chip-set>
          @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
            <p class="info-text">
              <mat-icon>info</mat-icon>
              Возможно выбрать несколько ответов
            </p>
          }
        </mat-card-content>
      </mat-card>
      Options
      <mat-card class="options-card">
        <mat-card-content>
          @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
            <div class="checkbox-group">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-checkbox
                  [checked]="isAnswerSelected(i)"
                  (change)="selectMultipleAnswers($event, i)"
                  class="option-button">
                  {{ option }}
                </mat-checkbox>
              }
            </div>
          } @else {
            <mat-radio-group
              class="radio-group"
              [value]="selectedAnswers.get(quizViewStore.currentQuestionIndex())?.[0]">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-radio-button
                  [value]="i"
                  (change)="selectAnswer(i)"
                  class="option-button">
                  {{ option }}
                </mat-radio-button>
              }
            </mat-radio-group>
          }
        </mat-card-content>
      </mat-card>
      Navigation Buttons
      <mat-card class="navigation-card">
        <mat-card-content class="button-group">
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === 0"
            (click)="quizViewStore.showPreviousQuestion()">
            <mat-icon>arrow_back</mat-icon>
            Назад
          </button>
          <span class="spacer"></span>
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === quizViewStore.questions().length - 1"
            (click)="quizViewStore.showNextQuestion()">
            Далее
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="accent"
            [disabled]="!canSubmit()"
            (click)="submitQuiz()"
            class="submit-button">
            <mat-icon>check_circle</mat-icon>
            Отправить
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  }

<!--  @if (quizViewStore.isQuizCompleted()) {-->
<!--    Quiz Results-->
<!--    <div class="quiz-results">-->
<!--      <mat-card class="results-header">-->
<!--        <mat-card-content>-->
<!--          <h1 class="score-title">Результаты викторины</h1>-->
<!--          <div class="score-section">-->
<!--            <div class="score-item">-->
<!--              <span class="score-label">Правильных ответов:</span>-->
<!--              <span class="score-value">{{ quizResult.correctAnswers }}/{{ quizViewStore.questions().length }}</span>-->
<!--            </div>-->
<!--            <div class="score-item">-->
<!--              <span class="score-label">Процент:</span>-->
<!--              <span class="score-value" [ngClass]="{'high-score': quizResult.percentage >= 80, 'medium-score': quizResult.percentage >= 60, 'low-score': quizResult.percentage < 60}">-->
<!--                {{ quizResult.percentage }}%-->
<!--              </span>-->
<!--            </div>-->
<!--          </div><mat-progress-bar mode="determinate" [value]="quizResult.percentage"></mat-progress-bar>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->

<!--      &lt;!&ndash; Detailed Results &ndash;&gt;-->
<!--      <div class="results-details">-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel-->
<!--            *ngFor="let result of quizResult.answers; let i = index"-->
<!--            [class.correct-answer]="result.isCorrect"-->
<!--            [class.incorrect-answer]="!result.isCorrect">-->

<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>-->
<!--                <mat-icon [color]="result.isCorrect ? 'accent' : 'warn'">-->
<!--                  {{ result.isCorrect ? 'check_circle' : 'cancel' }}-->
<!--                </mat-icon>Вопрос {{ i + 1 }}: {{ result.question.question }}-->
<!--              </mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="panel-content">-->
<!--              <p class="answer-status" [ngClass]="result.isCorrect ? 'correct' : 'incorrect'">-->
<!--                {{ result.isCorrect ? '✓ Правильно' : '✗ Неправильно' }}-->
<!--              </p>-->
<!--              <div class="answer-details">-->
<!--                <p class="label">Ваш ответ:</p>-->
<!--                <p class="answer">-->
<!--                  <span *ngFor="let idx of result.selectedIndexes; let last = last">-->
<!--                    {{ result.question.options[idx] }}<span *ngIf="!last">, </span>-->
<!--                  </span>-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="correct-answer-details">-->
<!--                <p class="label">Правильный ответ:</p>-->
<!--                <p class="answer">-->
<!--                  <span *ngFor="let idx of result.question.correctAnswerIndexes; let last = last">-->
<!--                    {{ result.question.options[idx] }}<span *ngIf="!last">, </span>-->
<!--                  </span>-->
<!--                </p>-->
<!--              </div>-->
<!--              <mat-divider></mat-divider>-->
<!--              <div class="explanation">-->
<!--                <p class="label">Объяснение:</p>-->
<!--                <p>{{ result.question.explanation }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--      </div>-->

<!--      <mat-card class="restart-card">-->
<!--        <mat-card-content>-->
<!--          <button-->
<!--            mat-raised-button-->
<!--            color="primary"-->
<!--            (click)="restartQuiz()"-->
<!--            class="restart-button">-->
<!--            <mat-icon>refresh</mat-icon>-->
<!--            Пройти заново-->
<!--          </button>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div> -->
<!--  }-->
</div>
