<div class="quiz-container">
  @if (quizResult == null) {
    <div class="quiz-content">
      <mat-card class="header-content">
        <mat-card-header>
          <mat-card-title>{{ quizViewStore.currentQuestion().topic }}</mat-card-title>
          <mat-card-subtitle>Вопрос {{ quizViewStore.currentQuestionIndex() + 1 }}
            из {{ quizViewStore.questions().length }}

          </mat-card-subtitle>
        </mat-card-header>
        <div class="progress">
          <mat-progress-bar mode="determinate" [value]="quizViewStore.progress()"></mat-progress-bar>
        </div>
      </mat-card>
      <mat-card class="question-content">
        <mat-card-content>
          <div class="title">
            <mat-chip-set aria-label="Уровень сложности" class="level">
              <mat-chip [highlighted]="quizViewStore.currentQuestionLevel() === juniorQuizQuestionLevel">
                {{ questionLevelTest() }}
              </mat-chip>
            </mat-chip-set>
            {{ quizViewStore.currentQuestion().question }}
          </div>
          <div class="details">
            @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
              <mat-icon class="icon">info</mat-icon>
              Возможно выбрать несколько ответов
            }
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="options-content">
        <mat-card-content>
          @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
            <div class="checkbox-group">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-checkbox
                  [checked]="isAnswerSelected(i)"
                  (change)="selectMultipleAnswers($event, i)"
                  class="option-button">
                  {{ option }}
                </mat-checkbox>
              }
            </div>
          } @else {
            <mat-radio-group
              class="radio-group"
              [value]="selectedAnswers.get(quizViewStore.currentQuestion().id)?.[0]">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-radio-button
                  [value]="i"
                  (change)="selectAnswer(i)"
                  class="option-button">
                  {{ option }}
                </mat-radio-button>
              }
            </mat-radio-group>
          }
        </mat-card-content>
      </mat-card>
      <mat-card class="button-content">
        <mat-card-content class="button-container">
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === 0"
            (click)="quizViewStore.showPreviousQuestion()">
            <mat-icon>arrow_back</mat-icon>
            Назад
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === quizViewStore.questions().length - 1"
            (click)="quizViewStore.showNextQuestion()">
            Далее
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="accent"
            [disabled]="quizViewStore.progress() !== 100"
            (click)="submitQuiz()">
            <mat-icon>check_circle</mat-icon>
            Отправить
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  } @else {
    <div class="quiz-results-content">
      <mat-card class="header-content">
        <mat-card-content>
          <div class="title">Результаты викторины</div>
            <div class="result">
              Правильных ответов:
              <span class="value">{{ quizResult.correctAnswers }}/{{ quizViewStore.questions().length }}</span>
            </div>
            <div class="result">
              Процент:
              <span class="value"
                    [ngClass]="{'high-score': quizResult.percentage >= 80, 'medium-score': quizResult.percentage >= 60, 'low-score': quizResult.percentage < 60}">
                  {{ quizResult.percentage }}%
                </span>
            </div>
          <mat-progress-bar class="percentage" mode="determinate" [value]="quizResult.percentage"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      <div class="details-content">
        <mat-accordion>
          @for (answer of quizResult.answers; track $index; let i = $index) {
            <mat-expansion-panel
              [class.correct-answer]="answer.isCorrect"
              [class.incorrect-answer]="!answer.isCorrect">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon [color]="answer.isCorrect ? 'accent' : 'warn'">
                    {{ answer.isCorrect ? 'check_circle' : 'cancel' }}
                  </mat-icon>
                  Вопрос {{ i + 1 }}: {{ answer.question.question }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="panel-content">
                <p class="answer-status" [ngClass]="answer.isCorrect ? 'correct' : 'incorrect'">
                  {{ answer.isCorrect ? '✓ Правильно' : '✗ Неправильно' }}
                </p>
                <div class="answer-details">
                  <p class="label">Ваш ответ:</p>
                  <p class="answer">
                    @for (selectedIndex of answer.selectedIndexes; track $index; let last = $last) {
                      <span>{{ answer.question.options[selectedIndex] }}
                        @if (!last) {
                          <span>, </span>
                        }
                    </span>
                    }
                  </p>
                </div>
                <div class="correct-answer-details">
                  <p class="label">Правильный ответ:</p>
                  <p class="answer">
                    @for (correctAnswerIndex of answer.question.correctAnswerIndexes; track $index; let last = $last) {
                      <span>{{ answer.question.options[correctAnswerIndex] }}
                        @if (!last) {
                          <span>, </span>
                        }
                    </span>
                    }
                  </p>
                </div>
                <mat-divider></mat-divider>
                <div class="explanation">
                  <p class="label">Объяснение:</p>
                  <p>{{ answer.question.explanation }}</p>
                </div>
              </div>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </div>
      <mat-card class="restart-content">
        <mat-card-content>
          <button
            mat-raised-button
            color="primary"
            (click)="restartQuiz()">
            <mat-icon>refresh</mat-icon>
            Пройти заново
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
