  @if (quizResult() == null) {
    <div class="content">
      <mat-card class="header-content">
        <mat-card-header>
          <mat-card-title>{{ quizViewStore.currentQuestion().topic }}</mat-card-title>
          <mat-card-subtitle>Вопрос {{ quizViewStore.currentQuestionIndex() + 1 }}
            из {{ quizViewStore.questions().length }}
          </mat-card-subtitle>
        </mat-card-header>
        <div class="progress">
          <mat-progress-bar mode="determinate" [value]="quizViewStore.progress()"></mat-progress-bar>
        </div>
      </mat-card>
      <mat-card class="question-content">
        <mat-card-content>
          <div class="title">
            <mat-chip-set aria-label="Уровень сложности" class="level">
              <mat-chip [highlighted]="quizViewStore.currentQuestionLevel() === juniorQuizQuestionLevel">
                {{ questionLevelTest() }}
              </mat-chip>
            </mat-chip-set>
            {{ quizViewStore.currentQuestion().question }}
          </div>
          <div class="details">
            @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
              <mat-icon class="icon">info</mat-icon>
              Возможно выбрать несколько ответов
            }
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="options-content">
        <mat-card-content>
          @if (quizViewStore.currentQuestion().allowMultipleAnswers) {
            <div class="checkbox-group">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-checkbox
                  [checked]="isAnswerSelected(i)"
                  (change)="selectMultipleAnswers($event, i)"
                  class="option-button">
                  {{ option }}
                </mat-checkbox>
              }
            </div>
          } @else {
            <mat-radio-group
              class="radio-group"
              [value]="selectedAnswers.get(quizViewStore.currentQuestion().id)?.[0]">
              @for (option of quizViewStore.currentQuestion().options; track option; let i = $index) {
                <mat-radio-button
                  [value]="i"
                  (change)="selectAnswer(i)"
                  class="option-button">
                  {{ option }}
                </mat-radio-button>
              }
            </mat-radio-group>
          }
        </mat-card-content>
      </mat-card>
      <mat-card class="button-content">
        <mat-card-content class="button-container">
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === 0"
            (click)="quizViewStore.showPreviousQuestion()">
            <mat-icon>arrow_back</mat-icon>
            Назад
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="quizViewStore.currentQuestionIndex() === quizViewStore.questions().length - 1"
            (click)="quizViewStore.showNextQuestion()">
            Далее
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button
            mat-raised-button
            color="accent"
            [disabled]="quizViewStore.progress() !== 100"
            (click)="submitQuiz()">
            <mat-icon>check_circle</mat-icon>
            Отправить
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  } @else {
    <app-quiz-result [quizResult]="quizResult()!" (restartQuiz)="restartQuiz()"></app-quiz-result>
  }
