@use '../../../variables' as *;

.content {
  .header-content {
    margin-bottom: $bigPadding;

    .progress {
      padding: 0 $medialPadding $medialPadding $medialPadding;
    }
  }

  .question-content {
    margin-bottom: $bigPadding;

    .title {
      display: flex;
      align-items: center;
      font-size: $titleFontSize;

      .level {
        padding-right: $smallPadding;
      }
    }

    .details {
      height: $bigPadding;
      display: flex;
      align-items: center;

      .icon {
        padding-right: $smallPadding;
      }
    }
  }

  .options-content {
    margin-bottom: $bigPadding;

    .radio-group, .checkbox-group {
      display: flex;
      flex-direction: column;
    }
  }

  .button-content {
    .button-container {
      display: flex;
      gap: $padding;
    }
  }
}