<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>User name</mat-label>
      <input matInput formControlName="userName"/>
      @if (loginForm.controls.userName.hasError('required')) {
        <mat-error>User name is required</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="isLoading()"
    >
      @if (!isLoading()) {
        Login
      } @else {
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      }
    </button>
    <ng-template #loading>
      <mat-progress-spinner
        diameter="20"
        mode="indeterminate"
      ></mat-progress-spinner>
    </ng-template>
  </form>
</mat-card>
