.login-card {
  width: 100%;
  max-width: 400px;
  margin: 10vh auto;
  padding: 1.5rem;
}

.full-width {
  width: 100%;
}

mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
}

button mat-progress-spinner {
  margin: 0 auto;
}
