
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'variables' as *;

@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Black.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraBold.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 900;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-BlackItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraBoldItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-ExtraBold.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraBold.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 800;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-ExtraBoldItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraBoldItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Bold.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Bold.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 700;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-BoldItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-BoldItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-SemiBold.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-SemiBold.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 600;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-SemiBoldItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraLightItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Medium.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Medium.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 500;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-MediumItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-MediumItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Italic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Italic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 400;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Regular.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Regular.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 400;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Light.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Light.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 300;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-LightItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-LightItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-ExtraLight.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraLight.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 200;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-ExtraLightItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ExtraLightItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-Thin.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-Thin.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 100;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../public/assets/fonts/FiraSans-ThinItalic.woff2") format("woff2"),
  url("../public/assets/fonts/FiraSans-ThinItalic.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 100;
  font-style: italic;
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: 'Fira Sans',
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
