$primaryBlue50: #F6FCFF;
$primaryBlue100: #EBF7FF;
$primaryBlue200: #D7EDFF;
$primaryBlue300: #9BCFFD;
$primaryBlue400: #6BB3FA;
$primaryBlue500: #4094F7;
$primaryBlue600: #0E73F6;
$primaryBlue700: #0452C8;
$primaryBlue800: #023997;
$primaryBlue900: #002266;

$red50: #FFFBFA;
$red100: #FFEFEB;
$red200: #FED6CD;
$red300: #FDAEA1;
$red400: #FA8D7F;
$red500: #F76659;
$red600: #F2271C;
$red700: #CC0905;
$red800: #8D0104;
$red900: #4D0004;

$green50: #F5FFF8;
$green100: #EBFFF1;
$green200: #BBFBD0;
$green300: #91F3AE;
$green400: #67E48B;
$green500: #47D16C;
$green600: #22C348;
$green700: #119C2B;
$green800: #066F14;
$green900: #003D06;

$yellow50: #FFFEEB;
$yellow100: #FFFCC2;
$yellow200: #FEF99F;
$yellow300: #FCF27D;
$yellow400: #FBEC7E;
$yellow500: #F8DD4E;
$yellow600: #F8C51B;
$yellow700: #D29404;
$yellow800: #835101;
$yellow900: #4D2A00;

$purple50: #FEFAFF;
$purple100: #FCF0FF;
$purple200: #F5D2FE;
$purple300: #E8B1FC;
$purple400: #D691F8;
$purple500: #C479F3;
$purple600: #A23FEE;
$purple700: #7E10E5;
$purple800: #5606B2;
$purple900: #350080;

$teal50: #F1FDFD;
$teal100: #E4FCFC;
$teal200: #BBF6F4;
$teal300: #8CEEE6;
$teal400: #62E4D3;
$teal500: #38D9B9;
$teal600: #1AC19D;
$teal700: #0D9676;
$teal800: #046C54;
$teal900: #046C54;

$darkGray500: #48535B;
$darkGray600: #3C464E;
$darkGray700: #303940;
$darkGray800: #252C32;
$darkGray900: #1A2024;

$midGray500: #B0BABF;
$midGray600: #9AA6AC;
$midGray700: #84919A;
$midGray800: #6E7C87;
$midGray900: #5B6871;

$lightGray500: #F6F8F9;
$lightGray600: #EEF0F2;
$lightGray700: #E5E9EB;
$lightGray800: #DDE2E4;
$lightGray900: #D5DADD;

$maxWorkspaceWidth: 1200px;